<div class="mobile-links">
  <div class="flex-container store-badges">
    <a  href="https://play.google.com/store/apps/details?id=hk.goodcity.app" class="badge"><img src="/assets/images/android-donor-app-play-store-badge.png" /></a>
    <a href="https://apple.co/3CzdL0r" class="badge"><img src="/assets/images/ios-donor-app-store-link-black.png" /></a>
  </div>
  <div class="flex-container qr-codes">
    <div class="qr-code hide-for-small-only hide-for-medium-only"><img src="/assets/images/android-donor-app-qr-code.png" /></div>
    <div class="qr-code hide-for-small-only hide-for-medium-only"><img src="/assets/images/ios-donor-app-qr-code.jpg" /></div>
  </div>
  <div class="hide-for-small-only">
    {% if include.lang == "zh" %}
      <!-- TODO: CHINESE TRANSLATIONS HERE -->
      <p>Don't have a smart phone? <a href="https://app.goodcity.hk">Use your browser.</a> (Note: does not support Safari)</p>
    {% else %}
      <p>Don't have a smart phone? <a href="https://app.goodcity.hk">Use your browser.</a> (Note: does not support Safari)</p>
    {% endif %}
  </div>
</div>

