{% if page.lang == 'zh' %}

  <img src="/assets/images/yang.jpg" alt="楊先生的生日禮物">
  <h4>楊先生的生日禮物</h4>
  <p>
    <a href="https://www.crossroads.org.hk/zh-hant/%E9%A6%99%E6%B8%AF%EF%BC%9A%E6%A5%8A%E5%85%88%E7%94%9F%E7%9A%84%E7%94%9F%E6%97%A5%E7%A6%AE%E7%89%A9/" class="button small">閱讀故事</a>
  </p>

{% else %}

  <img src="/assets/images/yang.jpg" alt="Mr Yang’s birthday gift">
  <h4>Mr Yang’s birthday gift</h4>
  <p>
    <a href="https://www.crossroads.org.hk/hong-kong-mr-yangs-birthday-gift/" class="button small">Read more</a>
  </p>

{% endif %}