{% if page.lang == 'zh' %}

  <img src="/assets/images/piano.jpg" alt="無償的鋼琴，無價的琴音">
  <h4>無償的鋼琴，無價的琴音</h4>
  <p>
    <a href="https://www.crossroads.org.hk/zh-hant/%E6%8D%90%E5%87%BA%E5%8B%95%E4%BA%BA%E5%BF%83%E5%BC%A6%E7%9A%84%E9%8B%BC%E7%90%B4/" class="button small">閱讀故事</a>
  </p>

{% else %}

  <img src="/assets/images/piano.jpg" alt="Piano">
  <h4>Donated piano strikes a chord</h4>
  <p>
    <a href="https://www.crossroads.org.hk/donated-piano-strikes-a-chord/" class="button small">Read more</a>
  </p>

{% endif %}