.goodcity-logo-banner {
    display: none;
}

@media only screen and (max-width: 40.062em) {
    .goodcity-logo-banner {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }
}

@media only screen and (min-width: 40.062em) {
    .goodcity-logo-banner {
        display: block;
        position: relative;
        width: 60%;
        margin: 0 auto;
        margin-top: 2em;
        max-width: 650px;
    }
}

@media only screen and (max-width: 40.062em) {
    .goodcity-logo-banner .content {
        background-color: black !important;
        box-shadow: 0px -10px 10px black;
    }
}

.goodcity-logo-banner .content {
    height: 100%;
    background-color: #002450;
    margin: 0 auto;
}
.goodcity-logo-banner .content .contributors {
    position: relative;
    display: flex;
    justify-content: space-around;
}
.goodcity-logo-banner .content .contributors.labels {
    height: 1rem;
    padding-top: 0.5rem;
    font-size: 0.7rem;
    color: #e0e5eb db;
}
.goodcity-logo-banner .content .contributors.logos {
    height: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.goodcity-logo-banner .content .contributors .contributor {
    height: 100%;
}
.goodcity-logo-banner .content .contributors .contributor .static-image {
    max-width: 100%;
    max-height: 100%;
    padding-top: 0.8rem;
    padding-bottom: 0.2rem;
}
.goodcity-logo-banner .content .contributors .contributor.crossroads {
    width: 30%;
}

.goodcity-logo-banner .content .contributors .contributor.jockey_club {
    width: 60%;
    height: 8em;
    margin-top: -5%;
}

.goodcity-logo-banner .content .contributors .contributor.jockey_club.label {
    margin-top: 0;
}
